.app-header {
  padding: 3rem 0;
  background-image: url("/assets/images/header-background.webp");
  background-size: cover;
  background-color: saddlebrown;

  & > div {
    & > div {
      & > div {
        & > nav {
          & > ul {
            display: flex;
            gap: 2rem;
            justify-content: flex-end;

            & > li {
              color: white;
              text-transform: uppercase;

              & > a {
                text-decoration: none;

                &:visited {
                  color: white;
                }

                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }
}

:host {
  display: block;
}
