.app-highlight {
  // background-color: orange;
  color: white;
  padding: 6.5rem 0 3rem 0;
  display: flex;

  & > div {
    & > div {
      & > div {
        &:nth-of-type(1) {
          display: flex;
          align-items: center;
          & > div {
            // background-color: green;
            & > h1 {
              font-family: "Reey Regular";
              font-size: 4.6rem;
              line-height: 2;
              padding-bottom: 3rem;
              // text-wrap: nowrap;
            }

            & > p {
              &:nth-of-type(1) {
                font-size: 1.5rem;
                text-transform: uppercase;
                padding-bottom: 2rem;
                font-style: italic;
              }

              &:nth-of-type(2) {
                font-size: 1.2rem;
                padding-top: 2rem;
                font-style: italic;
              }
            }

            & > app-button {
              padding-bottom: 1rem;
              --button-secondary-contrast: #241f21;
              --button-secondary: #ffffff;
            }
          }
        }

        &:nth-of-type(2) {
          & > div {
            position: relative;

            & > img {
              &:nth-of-type(1) {
                width: 80%;
              }

              &:nth-of-type(2) {
                width: 35%;
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translate(-50%, 50%);
              }

              &:nth-of-type(3) {
                position: absolute;
                right: 0;
                bottom: 0;
                transform: translate(0%, 60%);
                width: 80%;
              }
            }
          }
        }
      }
    }
  }
}

:host {
  display: block;
}
