<section class="app-highlight">
  <div>
    <img src="/assets/images/logo.webp" alt="Logo">
    <h1>Italian Food</h1>
    <p>Loreminpsum dolor</p>
    <button>Read more</button>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aspernatur eveniet quo deserunt vel doloremque
      impedit harum est distinctio sit asperiores aut maiores, praesentium in qui labore sapiente consequatur
      blanditiis.</p>
  </div>
  <article>
    <img src="/assets/images/highlight/main.webp" alt="Photo of a plate of pasta">
    <img src="/assets/images/highlight/support.webp" alt="Photo of cup of sauce">
    <img src="/assets/images/highlight/float.webp" alt="Photo of couple basil leaves">
  </article>
</section>