<section class="app-highlight">
  <div>
    <img src="/assets/images/logo.webp" alt="Logo">
    <h1>{{'header.highlight.heading' | translate}}</h1>
    <p>{{'header.highlight.subtitle' | translate}}</p>
    <button>{{'header.highlight.button' | translate}}</button>
    <p>{{'header.highlight.text' | translate}}</p>
  </div>
  <div>
    <img src="/assets/images/highlight/main.webp" alt="Photo of a plate of pasta">
    <img src="/assets/images/highlight/support.webp" alt="Photo of cup of sauce">
    <img src="/assets/images/highlight/float.webp" alt="Photo of couple basil leaves">
  </div>
</section>