<header>
  <div class="grid-container">
    <div class="row">
      <div class="col-xs-12">
        Header
        <select #langSelect (change)="onLangChange(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">
            {{ lang }}
          </option>
        </select>
      </div>
    </div>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="grid-container">
    <div class="row">
      <div class="col-xs-12">Footer
      </div>
    </div>
  </div>
</footer>
<app-grid-debug></app-grid-debug>