<article class="app-list">
  <div class="grid-container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{'home::main::heading' | translate}}</h2>
        <p>{{'home::main::text' | translate}}</p>
      </div>
      <div class="col-xs-4">
        <div>
          <img src="/assets/images/highlight/main.webp" alt="Plate of pasta">
          <h3>Cat ipsum</h3>
          <p>Cat ipsum dolor sit amet, take a big fluffing ball of fur.</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          <img src="/assets/images/highlight/main.webp" alt="Plate of pasta">
          <h3>Cat ipsum</h3>
          <p>Cat ipsum dolor sit amet, take a big fluffing ball of fur.</p>
        </div>
      </div>
      <div class="col-xs-4">
        <div>
          <img src="/assets/images/highlight/main.webp" alt="Plate of pasta">
          <h3>Cat ipsum</h3>
          <p>Cat ipsum dolor sit amet, take a big fluffing ball of fur.</p>
        </div>
      </div>
      <div class="col-xs-12">
        <app-button>Show more</app-button>
      </div>
    </div>
  </div>
</article>
