<article class="app-list">
  <h2>{{'home::main::heading' | translate}}</h2>
  <p>{{'home::main::text' | translate}}</p>
  <ul>
    <li>
      <img src="/assets/images/highlight/main.webp" alt="Plate of pasta">
      <h3>Cat ipsum</h3>
      <p>Cat ipsum dolor sit amet, take a big fluffing ball of fur.</p>
    </li>
    <li>
      <img src="/assets/images/highlight/main.webp" alt="Plate of pasta">
      <h3>Cat ipsum</h3>
      <p>Cat ipsum dolor sit amet, take a big fluffing ball of fur.</p>
    </li>
    <li>
      <img src="/assets/images/highlight/main.webp" alt="Plate of pasta">
      <h3>Cat ipsum</h3>
      <p>Cat ipsum dolor sit amet, take a big fluffing ball of fur.</p>
    </li>
  </ul>
  <button>Show more</button>
</article>