.app-button {
  padding: 1rem 3.5rem;
  color: var(--button-secondary-contrast);
  background-color: var(--button-secondary);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 2rem;
}
