.app-post {
  display: flex;
  gap: 2rem;
  align-items: center;

  &>img {
    width: 50%;
  }

  &>div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
    padding: 3rem;

    &>h3 {
      font-size: 3.6rem;
      line-height: 1;
    }

    &>p {
      font-size: 1.5rem;
    }

    &>a {
      background-color: var(--button-secondary);
      color: var(--button-secondary-contrast);
      font-size: 1.5rem;
      font-weight: 600;
      text-decoration: none;
      padding: 1rem 3rem;
      border-radius: 2rem;
    }
  }

  &[variant='secondary'] {
    &>div {
      order: -1;
    }
  }
}