<div class="app-post" [attr.variant]="postData.variant">
  <div class="grid-container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <img [src]="postData.img.url" [alt]="postData.img.alt">
      </div>
      <div class="col-xs-12 col-md-6">
        <div>
          <h3>{{postData.heading| translate}}</h3>
          <p>{{postData.text| translate}}</p>
          <a href="{{postData.button.text}}">{{postData.button.text | translate}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
