html,
body {
  height: $size-pe-100;
  min-height: $size-pe-100;
  font: $font-regular $size-pe-100 $font-family-suisse-intl;
  letter-spacing: 0;
  background-color: var(--bg-secondary);

  @media only screen and (max-width: $size-screen-xs) {
    font-size: $size-pe-95; // Validate this solution
  }

  @media only screen and (prefers-color-scheme: dark) {
    background-color: var(--bg-secondary);
  }
}

b,
strong {
  font-weight: $font-bold;
}
