// Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// Reey
@font-face {
  font-family: "Reey Regular";
  src: url("/assets/fonts/reey/reey-regular.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
