<section class="app-newsletter">
  <div class="grid-container">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
        <h2>{{'newsletter.heading' | translate}}</h2>
        <p>{{'newsletter.text' | translate}}</p>
      </div>
      <div class="col-xs-offset-3 col-xs-6">
        <div>
          <input type="email" [placeholder]="'newsletter.input.placeholder' | translate">
          <button>{{'newsletter.button.text' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</section>
