.app-footer {
  background-color: var(--bg-secondary);
  padding: 3rem 0;

  &>div {
    &>div {
      &>div {
        &>ul {
          padding-top: 1rem;
          display: flex;
          flex-direction: column;
          gap: .5rem;
        }

        &>p {
          padding-top: 1rem;
        }

        @media(max-width: 1024px) {
          &>h4 {
            margin-top: 2rem;
          }
        }
      }
    }
  }
}

:host {
  display: block;
}
