<section class="app-footer">
  <div class="grid-container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec
          dignissim elit, at dignissim enim.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-2">
        <h4>About</h4>
        <ul>
          <li>Option 1</li>
          <li>Option 2</li>
          <li>Option 3</li>
          <li>Option 4</li>
          <li>Option 5</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <h4>Services</h4>
        <ul>
          <li>Option 1</li>
          <li>Option 2</li>
          <li>Option 3</li>
          <li>Option 4</li>
          <li>Option 5</li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <h4>Others</h4>
        <ul>
          <li>Option 1</li>
          <li>Option 2</li>
          <li>Option 3</li>
          <li>Option 4</li>
          <li>Option 5</li>
        </ul>
      </div>
    </div>
  </div>
</section>
