<section class="app-footer">
  <div class="grid-container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-5">
        <h4>Title</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at dignissim nunc, id maximus ex. Etiam nec
          dignissim elit, at dignissim enim.
        </p>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-offset-1 col-lg-2">
        <h4>About</h4>
        <ul>
          <li><a href="">Option 1</a></li>
          <li><a href="">Option 2</a></li>
          <li><a href="">Option 3</a></li>
          <li><a href="">Option 4</a></li>
          <li><a href="">Option 5</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <h4>Services</h4>
        <ul>
          <li><a href="">Option 1</a></li>
          <li><a href="">Option 2</a></li>
          <li><a href="">Option 3</a></li>
          <li><a href="">Option 4</a></li>
          <li><a href="">Option 5</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-2">
        <h4>Others</h4>
        <ul>
          <li><a href="">Option 1</a></li>
          <li><a href="">Option 2</a></li>
          <li><a href="">Option 3</a></li>
          <li><a href="">Option 4</a></li>
          <li><a href="">Option 5</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
