<article class="app-article">
  <div class="grid-container">
    <div class="row">
      <div class="col-xs-12">
        <h2>{{'home::main::heading' | translate}}</h2>
      </div>
      <div class="col-xs-offset-1 col-xs-5">
        <p>{{'home::main::text' | translate}} {{'home::main::text' | translate}}</p>
      </div>
      <div class="col-xs-5">
        <p>{{'home::main::text' | translate}}{{'home::main::text' | translate}}</p>
      </div>
      <div class="col-xs-12">
        <app-button>Show more</app-button>
      </div>
    </div>
  </div>
</article>
