<section class="app-our-story">
  <article>
    <div class="grid-container">
      <div class="row">
        <div class="col-xs-12 col-lg-offset-2 col-lg-8">
          <h2>{{'our-story.main.heading' | translate}}</h2>
          <p>{{'our-story.main.text' | translate}}</p>
        </div>

        <div class="col-xs-offset-5 col-xs-6">
          <img src="/assets/images/our-story/pizza.png" alt="Photo of a pizza">
        </div>
      </div>
    </div>
  </article>
  <app-testimonial></app-testimonial>
</section>
