.app-our-story {
  &>article {
    &:nth-of-type(1) {
      background-image: url('/assets/images/header-background.webp');
      background-size: 100% 80%;
      background-repeat: no-repeat;
      color: white;
      padding: 4rem 4rem 0 4rem;

      &>div {
        &>div {
          &>div {
            &:nth-of-type(1) {
              &>h2 {
                font-family: "Reey Regular";
                font-size: 3.6rem;
                line-height: 1.2;
                text-align: center;
                padding-bottom: 4rem;
              }

              &>p {
                font-size: 1.5rem;
                text-align: center;
              }
            }

            &:nth-of-type(2) {
              display: flex;
              justify-content: flex-end;

              &>img {
                width: 100%;
                transform: rotate(30deg);
              }
            }
          }
        }
      }
    }

    &:nth-of-type(2) {
      padding-bottom: 4rem;

      &>div {
        &>div {
          &>div {
            &:nth-of-type(1) {
              padding-bottom: 4rem;

              &>ul {
                margin: auto;
                display: flex;
                gap: 2rem;

                &>li {
                  flex: 1 1 33.3%;

                  &>h3 {
                    font-family: "Reey Regular";
                    font-size: 2rem;
                    line-height: 1.2;
                    text-align: center;
                    padding-bottom: 2rem;
                  }
                }

                @media (max-width: 1023px) {
                  flex-wrap: wrap;

                  &>li {
                    flex-basis: 100%;
                    text-align: center;
                  }
                }
              }
            }

            &:nth-of-type(2) {
              padding-top: 4rem;
              text-align: center;

              &>q {
                padding-bottom: 4rem;
                font-size: 1.5rem;
                font-weight: 500;
                display: block;
              }

              &>p {
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }

  }
}
