:root {
  --background: #FFFFFF;
  --bg-primary: #f1dedd;
  --bg-primary-contrast: #241F21;
  --bg-secondary: #F5F5F0;
  --bg-secondary-contrast: #241F21;
  --bg-tertiary: #241F21;
  --bg-tertiary-contrast: #FFFFFF;
  --button-disabled: #787375;
  --button-disabled-contrast: #FFFFFF;
  --button-disabled-hover: #787375;
  --button-disabled-hover-contrast: #FFFFFF;
  --button-primary: #f1dedd;
  --button-primary-contrast: #241F21;
  --button-primary-hover: #FFE482;
  --button-primary-hover-contrast: #241F21;
  --button-quaternary: #FFFFFF;
  --button-quaternary-contrast: #241F21;
  --button-quaternary-hover: #F5F5F0;
  --button-quaternary-hover-contrast: #241F21;
  --button-quinary: transparent;
  --button-quinary-contrast: inherit;
  --button-quinary-hover: transparent;
  --button-quinary-hover-contrast: #3D3D3D;
  --button-secondary: #241F21;
  --button-secondary-contrast: #FFFFFF;
  --button-secondary-hover: #3D3D3D;
  --button-secondary-hover-contrast: #FFFFFF;
  --button-senary: transparent;
  --button-senary-contrast: #918F90;
  --button-senary-hover: transparent;
  --button-senary-hover-contrast: #241F21;
  --button-tertiary: transparent;
  --button-tertiary-contrast: #241F21;
  --button-tertiary-hover: #241F21;
  --button-tertiary-hover-contrast: #FFFFFF;
  --graphic-primary: #f1dedd;
  --graphic-secondary: #241F21;
  --graphic-tertiary: #FFFFFF;
  --logo-primary: #241F21;
  --logo-secondary: #FFFFFF;
  --logo-tertiary: #241F21;
  --notification-action: #452447;
  --notification-action-contrast: #FFFFFF;
  --notification-disabled: #D3D2D3;
  --notification-disabled-contrast: #241F21;
  --notification-error: #FA3D45;
  --notification-error-contrast: #FFFFFF;
  --notification-info: #008CFF;
  --notification-info-contrast: #FFFFFF;
  --notification-success: #0AD673;
  --notification-success-contrast: #FFFFFF;
  --notification-warning: #FF9100;
  --notification-warning-contrast: #FFFFFF;
  --text-disabled: #241F21;
  --text-link: #008CFF;
  --text-notification: #FFFFFF;
  --text-primary: #241F21;
  --text-primary-hover: #3D3D3D;
  --text-secondary: #241F21;
  --text-secondary-hover: #3D3D3D;
  --text-tertiary: #241F21;
  --text-tertiary-hover: #3D3D3D;
}
